* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #012d2b;
  color: white;
  padding: 0.75rem;
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  body {
    padding: 0;
  }
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header.sticky {
  background-color: rgba(83, 80, 70, 0.9);
  border-radius: 0 0 45px 45px;
  padding-block: 0.35rem;
}

header .humb {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 999;
}

header .humb .bar {
  width: 100%;
  background-color: white;
  height: 2px;
  margin-block: 8px;
  -webkit-transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s transform ease-out;
  transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
}

header .humb.change .bar:nth-child(1) {
  -webkit-transform: rotate(44deg) translate3d(10px, 20px, 0);
          transform: rotate(44deg) translate3d(10px, 20px, 0);
}

header .humb.change .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

header .humb.change .bar:nth-child(3) {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

header h1 a {
  color: white;
}

header h1 a span {
  color: #025a57;
}

header .side-menu {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: #012d2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 200%;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

header .side-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .side-menu ul a {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .side-menu ul a:hover, header .side-menu ul a:focus {
  outline: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(83, 80, 70, 0.7);
}

header .side-menu.show {
  left: 0%;
}

header .side-menu.show li {
  -webkit-animation: element 0.75s ease-out forwards;
          animation: element 0.75s ease-out forwards;
}

@-webkit-keyframes element {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes element {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

main {
  padding-top: 14rem;
}

@media (min-width: 800px) {
  main {
    padding-top: 8rem;
  }
}

main .text {
  margin-left: 4rem;
}

main .text h1 {
  font-size: clamp(3rem, 7vw, 6rem);
  letter-spacing: 4px;
}

main .text h4 {
  margin-block: 1rem;
  letter-spacing: 2px;
}

main .text h5 {
  letter-spacing: 1px;
  font-size: 1rem;
}

main .text h5 i {
  font-size: 1rem;
  margin-right: 0.5rem;
  -webkit-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
  cursor: pointer;
}

main .text h5 i:hover {
  color: #535046;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main h3 {
  letter-spacing: 3px;
}

main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4rem;
  margin-block: 2rem;
}

main ul li {
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: 0.25s -webkit-transform ease-out;
  transition: 0.25s -webkit-transform ease-out;
  transition: 0.25s transform ease-out;
  transition: 0.25s transform ease-out, 0.25s -webkit-transform ease-out;
}

main ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main ul li i {
  -webkit-transition: 0.25s color ease-out;
  transition: 0.25s color ease-out;
  text-shadow: 3px 5px 0px rgba(0, 0, 0, 0);
}

main ul li i:hover {
  color: #535046;
}

main .myimage {
  display: block;
  padding-left: 13rem;
  position: relative;
  z-index: -1;
}

@media (min-width: 800px) {
  main .myimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 2rem;
  }
}

main .myimage img {
  opacity: 0.9;
  width: 220px;
  border-radius: 50px;
  border: 4px solid white;
  -webkit-box-shadow: 10px 3px 5px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 10px 3px 5px 0 rgba(0, 0, 0, 0.7);
}

@media (min-width: 800px) {
  main .myimage img {
    width: 400px;
  }
}

.about {
  margin-block: 3rem;
}

@media (min-width: 800px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about h2 {
  margin: 1.5rem;
  font-size: clamp(2rem, 5vw, 4rem);
}

.about p {
  line-height: 2;
  max-width: 75ch;
  padding: 1rem;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about ul li {
  border: 3px solid #025a57;
  margin: 1rem;
  padding: 1rem;
}

hr {
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  top: 117%;
  z-index: -2;
  border: none;
  opacity: 0.7;
  display: none;
}

@media (min-width: 800px) {
  hr {
    display: block;
  }
}

.image-reflect {
  width: 220px;
  border-radius: 50px;
  -webkit-transition: 1.25s all cubic-bezier(0.22, -0.17, 0.45, 1.46);
  transition: 1.25s all cubic-bezier(0.22, -0.17, 0.45, 1.46);
  -webkit-transform: translateX(-200%) scale(0) rotate(1turn);
          transform: translateX(-200%) scale(0) rotate(1turn);
  opacity: 0;
  border: 2px solid white;
  position: absolute;
  left: 10%;
  top: 73.5%;
  -webkit-box-reflect: below 3px linear-gradient(transparent, transparent, #000f);
  display: none;
}

.image-reflect.show {
  -webkit-transform: translateX(0%) scale(1) rotate(0);
          transform: translateX(0%) scale(1) rotate(0);
  opacity: 0.8;
}

@media (min-width: 1028px) {
  .image-reflect {
    display: block;
  }
}

.contact h1 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
}

.contact .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 800px) {
  .contact .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact .card-group .card {
  margin: 1rem;
  z-index: 8;
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(2, 90, 87, 0.5);
  border-radius: 20px;
}

.contact .card-group .card .adr,
.contact .card-group .card .phone,
.contact .card-group .card .email {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

.contact .card-group .card .adr i,
.contact .card-group .card .phone i,
.contact .card-group .card .email i {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.contact .card-group .card .adr:hover, .contact .card-group .card .adr:focus,
.contact .card-group .card .phone:hover,
.contact .card-group .card .phone:focus,
.contact .card-group .card .email:hover,
.contact .card-group .card .email:focus {
  -webkit-animation: 0.5s radio linear forwards;
          animation: 0.5s radio linear forwards;
}

@-webkit-keyframes radio {
  0% {
    border-right: 1px solid black;
  }
  25% {
    border-bottom: 1px solid green;
  }
  50% {
    border-left: 1px solid green;
  }
  100% {
    border-top: 1px solid green;
  }
}

@keyframes radio {
  0% {
    border-right: 1px solid black;
  }
  25% {
    border-bottom: 1px solid green;
  }
  50% {
    border-left: 1px solid green;
  }
  100% {
    border-top: 1px solid green;
  }
}

.contact .card-group .card.card1 {
  -webkit-transform: translateX(-200%) scale(0);
          transform: translateX(-200%) scale(0);
  -webkit-transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s transform ease-out;
  transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
}

.contact .card-group .card.card1.show {
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

.contact .card-group .card.card2 {
  -webkit-transform: scale(0) rotate(140deg);
          transform: scale(0) rotate(140deg);
  -webkit-transition: 0.75s -webkit-transform cubic-bezier(0.35, -0.26, 0.73, 1.36);
  transition: 0.75s -webkit-transform cubic-bezier(0.35, -0.26, 0.73, 1.36);
  transition: 0.75s transform cubic-bezier(0.35, -0.26, 0.73, 1.36);
  transition: 0.75s transform cubic-bezier(0.35, -0.26, 0.73, 1.36), 0.75s -webkit-transform cubic-bezier(0.35, -0.26, 0.73, 1.36);
}

.contact .card-group .card.card2.show {
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}

.contact .card-group .card.card3 {
  -webkit-transform: translateX(200%) scale(0);
          transform: translateX(200%) scale(0);
  -webkit-transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s transform ease-out;
  transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
}

.contact .card-group .card.card3.show {
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

.contact .card-group .card .adr:hover i,
.contact .card-group .card .adr:focus i,
.contact .card-group .card .phone:hover i,
.contact .card-group .card .phone:focus i,
.contact .card-group .card .email:hover i,
.contact .card-group .card .email:focus i {
  -webkit-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
  color: #025a57;
  font-size: 1.1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 2rem;
}

form textarea,
form input:not(:last-child) {
  min-width: 100%;
  height: 40px;
  margin-block: 1rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

@media (min-width: 800px) {
  form textarea,
  form input:not(:last-child) {
    min-width: 50%;
  }
}

form input:last-child {
  width: 100px;
  height: 30px;
  background: transparent;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: none;
  border: 2px solid white;
  margin-top: 1rem;
}

form button {
  width: 100px;
}

form textarea {
  min-height: 200px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 2px solid #025a57;
}

.scroll {
  position: fixed;
  right: -100%;
  top: 85%;
  width: 100px;
  height: 100px;
  background: transparent;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s right cubic-bezier(0.35, -0.26, 0.73, 1.36);
  transition: 0.5s right cubic-bezier(0.35, -0.26, 0.73, 1.36);
}

.scroll i {
  font-size: 3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 800px) {
  .scroll i {
    font-size: 4rem;
  }
}

.scroll.show {
  right: 1%;
}
/*# sourceMappingURL=style.css.map */